<%
const StringUtils = require(process.env.PROJECT_ROOT + "/core/helper/StringUtils.js");
const PageDependencyUtils = require(process.env.PROJECT_ROOT + "/core/helper/PageDependencyUtils.js");
const formsCollection = require(process.env.PROJECT_ROOT + "/core/config/rest.db.forms_collection.json");

_.output.metadata.tags = Object.assign({}, _.output.metadata.tags, {
	jquery: true,
	jquerySerializeObject: true,
	popper: true,
	bootstrap: true,
	fontawesome: true,
	moment: true,
	bootstrapDatetimepicker: true,
	bootstrapModal: true,
	restForm: true,
	restClient: true,
	axios: true,
	templateManager: true,
	rainbowBackground: true
});

%>
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta charset="utf-8">
		<title>Overview of the UI REST API</title>
		<%-PageDependencyUtils.getSortedMetadataTags(_.output.metadata.tags)%>
		
	</head>
	<body>
		<div data-rest-component data-rest-overview-component>
			<div class="container">
				<div class="row">
					<h4 class="col-12">Overview of the UI REST API</h4>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="table-responsive">
							<table class="table table-striped table-sm">
								<thead>
									<tr>
										<th>Models:</th>
									</tr>
								</thead>
								<tbody class="clickable-body">
									<%
									const fms = formsCollection.forms;
									Object.keys(fms).forEach(table => {
									%>
									<tr class="clickable-row" data-rest-endpoint="<%=fms[table].endpoint%>">
										<td style="white-space:nowrap;word-break:keep-all">
											<%=StringUtils.humanize(table)%>
										</td>
									</tr>
									<%
									});
									%>
								</tbody>
							</table>
						</div>
						<div>
							<p class="d-block text-right">Go to the <a href="/auth/overview">AUTH API</a>.</p>
						</div>
					</div>
				</div>
			</div>
			<% include ./parts/rest-endpoint-events.ejs %>
		</div>
	</body>
</html>