<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Home</title>
	</head>
	<body>
		<header>
			<h1>Default home page</h1>
			<h5>This is part of the core basic support</h5>
			<h5>You should customize this template or remove the controller that serves it</h5>
			<nav>
				<ul>
					<li>
						<span>A</span>
						<ul>
							<li>
								<span>B</span>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</header>
		<aside>Aside</aside>
		<main>Main</main>
		<footer>Footer</footer>
	</body>
</html>