<div class="form-group">
	<label class="form-label">
		<i class="fab fa-node-js"></i>
		<span><%- dataType.label || "Some json:" %></span>
		<% if(!noDescription) { %>
			<div class="description"><%- dataType.description %></div>
		<% } %>
	</label>
	<textarea
		class="form-control form-control-sm"
		type="text"
		style="font-family: monospace;"
		name="<%-dataType.name || "default" %>"><%-JSON.stringify(dataType.value, null, 2) || ""%></textarea>
</div>