<%

_.output.metadata.tags = Object.assign({}, _.output.metadata.tags, {
	bootstrap: true,
	popper: true,
	jquery: true,
	"custom.rest": true,
	"home.title": true,
});

%>

<div class="home home-page">
	<%- include("header.ejs", {_}) %>
	<script type="text/javascript">
		const me = jQuery(document.currentScript);
		const form = me.parent();
		const formDataReceived = <%-JSON.stringify({
			controllerUrl: _.request.url,
		}, null, 4);%>;
		const events = {
			// 
		};
		Object.keys(events).forEach(eventSelector => {
			const separatorPosition = eventSelector.indexOf(":");
			const event = eventSelector.substr(0, separatorPosition);
			const selector = eventSelector.substr(separatorPosition+1);
			form.on(event, selector, events[eventSelector]);
		});
	</script>
</div>