<div data-method="GET" data-rest-form data-rest-search-form>
	<div class="form-group">
		<input type="hidden" name="page" value="1">
		<div class="input-group input-group-sm mb-3" style="margin-bottom: 0px !important;">
			<input class="form-control form-control-sm" type="text" placeholder="Search here" name="search" data-rest-search-input  style="border-color: #ced4da"/>
			<div class="input-group-append">
				<button class="btn btn-sm btn-light" data-rest-search-settings-btn type="button" data-toggle="collapse" data-target="<%-selectorTargetSettings%>">
					<i class="fas fa-cog"></i>
				</button>
				<button class="btn btn-sm btn-light" type="button" data-rest-search-btn>
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>
	</div>
</div>